.container {
  display: flex;
  height: 100vh;
}
.image-container {
  width: 50%;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

/* Full Page Background */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Background Image Setup */
/* .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/image/andrey-metelev-qpAOxji4dAo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -10;
} */

/* Background Image Setup */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/image/andrey-metelev-qpAOxji4dAo-unsplash.jpg');
  background-size: cover; 
  background-position: center; 
  filter: blur(2px); 
  z-index: -10; 
}

/* Additional styles to prevent the image from appearing too zoomed */
@media (min-width: 768px) {
  .background-image {
      background-size: contain;
  }
}


/* Overlay that makes text readable on blurry background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -9;
}

/* Styling for the cards */
.card {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  padding: 20px;
}

/* Centering the first card a bit towards the top */
.form-card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 50%; 
  z-index: 10;
}

/* Results card styling */
.results-card {
  position: absolute;
  top: 55%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  opacity: 0.95; 
  z-index: 5;
}
